production:
 create_from_remote: no
 use.user.selected.activities: yes
 filing.number.prefix: FN101,FN102
 auto_set_appointment: true
 demographics.middle_name: false
 ask.multiple.phone.numbers: false
 demographics.ground_phone: false
 list.of.clinical.encounters.sequentially: ttv vaccination,weight and height,bp,anc visit type,obstetric history,medical history,surgical history,social history,lab results,current pregnancy,anc examination,manage appointments,give drugs,hiv reception
 statistics.show_encounter_types: REGISTRATION,ANC VISIT TYPE,VITALS,OBSERVATIONS,TREATMENT
 registration.clerk.roles: Registration,View Reports
 hsa.roles: Registration,Weight and Height,TTV Vaccination
 nurse.roles: Weight and Height,TTV Vaccination,BP,ANC Visit Type,Obstetric History,Medical History,Surgical History,Social History,Lab Results,ANC Examination,Current Pregnancy,Manage Appointments,Give Drugs,Update Outcome,HIV Clinic Registration,HIV Staging,HIV Reception,HIV Clinic Consultation,ART Adherence,Manage ART Prescriptions,ART Drug Dispensations,Registration,View Reports
 clinician.roles: Weight and Height,TTV Vaccination,BP,ANC Visit Type,Obstetric History,Medical History,Surgical History,Social History,Lab Results,ANC Examination,Current Pregnancy,Manage Appointments,Give Drugs,Update Outcome,HIV Clinic Registration,HIV Staging,HIV Reception,HIV Clinic Consultation,ART Adherence,Manage ART Prescriptions,ART Drug Dispensations,Registration,View Reports 
 create.from.remote: false
 create.from.dde.server: true
 anc_link: localhost:3005
 art_link: localhost:3000
 remote_servers.parent: localhost:3000
 remote_bart.username: admin
 remote_bart.password: test
 remote_bart.location: 721
 remote_machine.account_name: localhost
 portal_url: 192.100.100.200:80
 same_database: false
 
development:
 create_from_remote: no
 use.user.selected.activities: yes
 filing.number.prefix: FN101,FN102
 auto_set_appointment: true
 show.patient.confirmation: true
 demographics.middle_name: false
 ask.multiple.phone.numbers: false
 demographics.ground_phone: false
 list.of.clinical.encounters.sequentially: ttv vaccination,weight and height,bp,anc visit type,obstetric history,medical history,surgical history,social history,lab results,current pregnancy,anc examination,manage appointments,give drugs,hiv reception
 statistics.show_encounter_types: REGISTRATION,ANC VISIT TYPE,VITALS,OBSERVATIONS,TREATMENT
 registration.clerk.roles: Registration,Weight and Height,View Reports
 hsa.roles: Registration,Weight and Height,TTV Vaccination
 nurse.roles: Weight and Height,TTV Vaccination,BP,ANC Visit Type,Obstetric History,Medical History,Surgical History,Social History,Lab Results,ANC Examination,Current Pregnancy,Manage Appointments,Give Drugs,Update Outcome,HIV Clinic Registration,HIV Staging,HIV Reception,HIV Clinic Consultation,ART Adherence,Manage ART Prescriptions,ART Drug Dispensations,Registration,View Reports
 clinician.roles: Weight and Height,TTV Vaccination,BP,ANC Visit Type,Obstetric History,Medical History,Surgical History,Social History,Lab Results,ANC Examination,Current Pregnancy,Manage Appointments,Give Drugs,Update Outcome,HIV Clinic Registration,HIV Staging,HIV Reception,HIV Clinic Consultation,ART Adherence,Manage ART Prescriptions,ART Drug Dispensations,Registration,View Reports
 create.from.remote: true
 create.from.dde.server: false
 anc_link: localhost:3005
 art_link: localhost:3000
 remote_servers.parent: localhost:3000
 remote_bart.username: admin
 remote_bart.password: test
 remote_bart.location: 721
 remote_machine.account_name: localhost
 portal_url: 192.100.100.200:80
 same_database: false
 
test: &TEST
 create_from_remote: no
 use.user.selected.activities: yes

cucumber:
  <<: *TEST
