<script type="text/javascript" language="javascript">
  <!--
  tt_cancel_show = "/clinic";
  tt_cancel_destination = "/clinic";
</script>
<div style="padding: 200px;">
  <h1 style="color: red;">Sorry, this system is for women only!</h1>
</div>