<html>
  <head>
    <title>Cohort Report Selection</title>
    <%= stylesheet_link_tag "form" %>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <link href="/stylesheets/dashboard.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" language="javascript">
      <!--
      tt_cancel_destination = '/reports/select';
      tt_show = '/clinic';
      //-->
    </script>
    <style media="print">
      button {
        display: none;
      }
      #main {
        height: 100%;
      }
    </style>
    <style>
      #Unknown {display: none;}
      #num {display: none;}
      #main {
        height: 440px;
      }

      a:link {
        color: #000;
        text-decoration: none;
      }

      a:hover {
        color: orange !important;
        text-decoration: underline;
      }

      a:visited {
        color: #000;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div id="content">
      <div style="background-color: #fff; height: 660px; width: 99%; padding: 5px;">
        <table style="width: 100%; border: 1px solid #999; -moz-user-select: none;">
          <tr>
            <th style="font-size: 1.8em; color: #eee; background-color: #999; padding: 10px;">
              ANC C<span style="font-size: 0.8em">LINIC</span> - 
              F<span style="font-size: 0.8em">ACILITY</span> M<span style="font-size: 0.8em">ONTHLY</span>
              R<span style="font-size: 0.8em">EPORT</span>
            </th>
          </tr>
          <tr>
            <td style="border: 1px solid #999;">
              <table width="100%" cellspacing="0" cellpadding="5">
                <tr>
                  <td style="width: 25%;">
                    ANC Site Name
                  </td>
                  <td colspan="3" style="border-left: 1px solid #999; 
                      border-bottom: 1px solid #999; font-style: italic;">
                    <%= @facility %>&nbsp;
                  </td>
                </tr>
                <tr>
                  <td style="width: 25%;">
                    Reporting Year
                  </td>
                  <td style="border-left: 1px solid #999; border-bottom: 1px solid #999; 
                      font-style: italic;">
                    <%= @end_date.to_date.strftime("%Y") rescue "" %>&nbsp;
                  </td>
                  <td style="width: 25%; border-left: 1px solid #999; border-bottom: 1px solid #999;" align="right">
                    Reporting Month
                  </td>
                  <td style="border-left: 1px solid #999; border-bottom: 1px solid #999; 
                      font-style: italic;">
                    <%= @end_date.to_date.strftime("%B") rescue "" %>&nbsp;
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    Was any client served at this site during this month?
                    <span style="font-size: 0.8em">
                      If no, still submit this report
                    </span>
                  </td>
                  <td style="width: 25%; border-left: 1px solid #999; ">
                    <table width="100%">
                      <tr>
                        <td align="center" style="font-style: italic;">
                          <%= (@observations_total.length > 0 ? "Yes" : "No") %>
                        </td>
                      </tr>
                    </table>
                  </td>
              </table>
            </td>
          </tr>
          <tr>
            <td style="overflow: auto; border-bottom: 1px solid #999; vertical-align: top;">
              <div id="main" style="width: 98%; overflow: auto; padding: 10px;">
                <table style="width: 100%;" border="0">
                  <tr>
                    <td style="width: 33%;" valign="top">
                      <table cellpadding="8" style="width: 100%; margin-top: 10px;" cellspacing="0">
                        <tr>
                          <td style="width: 10px;">
                            &nbsp;
                          </td>
                          <td style="background-color: #999; color: #fff; font-weight: bold;" colspan="3">
                            Reporting Month
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <form id="new_reg" method="post" action="decompose">
                              <input type="hidden" value="<%= @new_women_registered.join(",") %>" name="patients" />
                            </form>
                          </td>
                          <td style="width: 60%; border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            New women registered
                          </td>
                          <td style="border-right: 1px solid #999; border-bottom: 1px solid #999; 
                              font-style: italic; padding-bottom: 0px;">
                            <a href="javascript:document.getElementById('new_reg').submit()">
                              <%= @new_women_registered.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td style="background-color: #999; color: #fff; font-weight: bold;" colspan="2">
                            Booking Cohort
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            Visits per woman
                          </td>
                        </tr>
                        <tr>
                          <td>
                            1
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999;">
                            <form id="visits_1" method="post" action="decompose">
                              <input type="hidden" value="<%= @observations_1.join(",") %>" name="patients" />
                              Tot. with 1 Visit
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('visits_1').submit()">
                              <%= @observations_1.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td style="border-left: 1px solid #999;">
                            <form id="visits_2" method="post" action="decompose">
                              <input type="hidden" value="<%= @observations_2.join(",") %>" name="patients" />
                              Tot. with 2 Visits
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('visits_2').submit()">
                              <%= @observations_2.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td style="border-left: 1px solid #999;">
                            <form id="visits_3" method="post" action="decompose">
                              <input type="hidden" value="<%= @observations_3.join(",") %>" name="patients" />
                              Tot. with 3 Visits
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('visits_3').submit()">
                              <%= @observations_3.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            4
                          </td>
                          <td style="border-left: 1px solid #999;">
                            <form id="visits_4" method="post" action="decompose">
                              <input type="hidden" value="<%= @observations_4.join(",") %>" name="patients" />
                              Tot. with 4 Visits
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('visits_4').submit()">
                              <%= @observations_4.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999;">
                            <form id="visits_5" method="post" action="decompose">
                              <input type="hidden" value="<%= @observations_5.join(",") %>" name="patients" />
                              Tot. with 5+ Visits
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('visits_5').submit()">
                              <%= @observations_5.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td style="font-style:italic;">
                            Total women in cohort
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <%= @observations_total.length %>&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            Week of first ANC visit
                          </td>
                        </tr>
                        <tr>
                          <td>
                            6
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999; 
                              border-bottom: 1px solid #999;">
                            <form id="week_of_first_visit_1" method="post" action="decompose">
                              <input type="hidden" value="<%= @week_of_first_visit_1.join(",") %>" name="patients" />
                              Tot. started in wk. 0-12
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('week_of_first_visit_1').submit()">
                              <%= @week_of_first_visit_1.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            (Pre-) Eclampsia
                          </td>
                        </tr>
                        <tr>
                          <td>
                            7
                          </td>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999; border-top: 1px solid #999; ">
                            <form id="pre_eclampsia_1" method="post" action="decompose">
                              <input type="hidden" value="<%= @pre_eclampsia_1.join(",") %>" name="patients" />
                              Tot. with pre-eclampsia
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999; border-top: 1px solid #999; 
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('pre_eclampsia_1').submit()">
                              <%= @pre_eclampsia_1.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            TTV doses
                          </td>
                        </tr>
                        <tr>
                          <td>
                            8
                          </td>
                          <td style="border-bottom: 1px solid #999; border-top: 1px solid #999; border-left: 1px solid #999;">
                            <form id="ttv__total_previous_doses_2" method="post" action="decompose">
                              <input type="hidden" value="<%= @ttv__total_previous_doses_2.join(",") %>" name="patients" />
                              Tot. received 2+ doses
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('ttv__total_previous_doses_2').submit()">
                              <%= @ttv__total_previous_doses_2.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            SP doses <sup style="font-weight: normal;">1</sup>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            9
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999;">
                            <form id="fansida__sp___number_of_tablets_given_0" method="post" action="decompose">
                              <input type="hidden" value="<%= @fansida__sp___number_of_tablets_given_0.join(",") %>" name="patients" />
                              Tot. received 0 doses
                            </form>
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999;
                              border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('fansida__sp___number_of_tablets_given_0').submit()">
                              <%= @fansida__sp___number_of_tablets_given_0.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            10
                          </td>
                          <td style="border-left: 1px solid #999;">
                            <form id="fansida__sp___number_of_tablets_given_1" method="post" action="decompose">
                              <input type="hidden" value="<%= @fansida__sp___number_of_tablets_given_1.join(",") %>" name="patients" />
                              Tot. received 1 x 3 tabs
                            </form>
                          </td>
                          <td style="border-right: 1px solid #999; border-left: 1px solid #999; border-top: 1px solid #999;">
                            <a href="javascript:document.getElementById('fansida__sp___number_of_tablets_given_1').submit()">
                              <%= @fansida__sp___number_of_tablets_given_1.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            11
                          </td>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999;">
                            <form id="fansida__sp___number_of_tablets_given_2" method="post" action="decompose">
                              <input type="hidden" value="<%= @fansida__sp___number_of_tablets_given_2.join(",") %>" name="patients" />
                              Tot. received 2 x 3 tabs
                            </form>                           
                          </td>
                          <td style="border-left: 1px solid #999; border-top: 1px solid #999; 
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('fansida__sp___number_of_tablets_given_2').submit()">
                              <%= @fansida__sp___number_of_tablets_given_2.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            FeFo tablets <!--sup style="font-weight: normal;">1</sup-->
                          </td>
                        </tr>
                        <tr>
                          <td>
                            12
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999; 
                              border-bottom: 1px solid #999;">
                            <form id="fefo__number_of_tablets_given_1" method="post" action="decompose">
                              <input type="hidden" value="<%= @fefo__number_of_tablets_given_1.join(",") %>" name="patients" />
                              Tot. received 120+ tabs
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('fefo__number_of_tablets_given_1').submit()">
                              <%= @fefo__number_of_tablets_given_1.length %>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td style="width: 36%;" valign="top">
                      <table cellpadding="8" style="width: 90%; float: right; margin-top: 0px;" cellspacing="0">
                        <tr>
                          <td style="width: 10px;">
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            Albendazole
                          </td>
                        </tr>
                        <tr>
                          <td>
                            13
                          </td>
                          <td style="border-bottom: 1px solid #999; border-top: 1px solid #999; 
                              border-left: 1px solid #999; width: 60%;">
                            <form id="albendazole" method="post" action="decompose">
                              <input type="hidden" value="<%= @albendazole.join(",") %>" name="patients" />
                              Tot. received 1 dose
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('albendazole').submit()">
                              <%= @albendazole.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 10px;">
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            ITN (bed nets)
                          </td>
                        </tr>
                        <tr>
                          <td>
                            14
                          </td>
                          <td style="border-bottom: 1px solid #999; border-top: 1px solid #999; 
                              border-left: 1px solid #999; width: 60%;">
                            <form id="bed_net" method="post" action="decompose">
                              <input type="hidden" value="<%= @bed_net.join(",") %>" name="patients" />
                              Tot. received ITN
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('bed_net').submit()">
                              <%= @bed_net.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 10px;">
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            Syphilis status <sup style="font-weight: normal;">1</sup>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            15
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999; width: 60%;">
                            <form id="syphilis_result_neg" method="post" action="decompose">
                              <input type="hidden" value="<%= @syphilis_result_neg.join(",") %>" name="patients" />
                              Negative
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('syphilis_result_neg').submit()">
                              <%= @syphilis_result_neg.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            16
                          </td>
                          <td style="border-left: 1px solid #999;">
                            <form id="syphilis_result_pos" method="post" action="decompose">
                              <input type="hidden" value="<%= @syphilis_result_pos.join(",") %>" name="patients" />
                              Positive
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('syphilis_result_pos').submit()">
                              <%= @syphilis_result_pos.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            17
                          </td>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999;">
                            <form id="syphilis_result_unk" method="post" action="decompose">
                              <input type="hidden" value="<%= @syphilis_result_unk.join(",") %>" name="patients" />
                              Unknown
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('syphilis_result_unk').submit()">
                              <%= @syphilis_result_unk.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            HIV test result <sup style="font-weight: normal;">1</sup>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            18
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999; width: 60%;">
                            <form id="hiv_test_result_prev_neg" method="post" action="decompose">
                              <input type="hidden" value="<%= @hiv_test_result_prev_neg.join(",") %>" name="patients" />
                              Previous Negative
                            </form>
                          </td>
                          <td style="border: 1px solid #999;">
                            <a href="javascript:document.getElementById('hiv_test_result_prev_neg').submit()">
                              <%= @hiv_test_result_prev_neg.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            19
                          </td>
                          <td style="border-left: 1px solid #999;">
                            <form id="hiv_test_result_prev_pos" method="post" action="decompose">
                              <input type="hidden" value="<%= @hiv_test_result_prev_pos.join(",") %>" name="patients" />
                              Previous Positive
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('hiv_test_result_prev_pos').submit()">
                              <%= @hiv_test_result_prev_pos.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            20
                          </td>
                          <td style="border-left: 1px solid #999; width: 60%;">
                            <form id="hiv_test_result_neg" method="post" action="decompose">
                              <input type="hidden" value="<%= @hiv_test_result_neg.join(",") %>" name="patients" />
                              New Negative
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('hiv_test_result_neg').submit()">
                              <%= @hiv_test_result_neg.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            21
                          </td>
                          <td style="border-left: 1px solid #999;">
                            <form id="hiv_test_result_pos" method="post" action="decompose">
                              <input type="hidden" value="<%= @hiv_test_result_pos.join(",") %>" name="patients" />
                              New Positive
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('hiv_test_result_pos').submit()">
                              <%= @hiv_test_result_pos.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            22
                          </td>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999;">
                            <form id="hiv_test_result_unk" method="post" action="decompose">
                              <input type="hidden" value="<%= @hiv_test_result_unk.join(",") %>" name="patients" />
                              Not Done
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('hiv_test_result_unk').submit()">
                              <%= @hiv_test_result_unk.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-style:italic;" colspan="2">
                            <form id="total_hiv_positive" method="post" action="decompose">
                              <input type="hidden" value="<%= @total_hiv_positive.join(",") %>" name="patients" />
                              Tot. women HIV+ (19+21)
                            </form>
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            <a href="javascript:document.getElementById('total_hiv_positive').submit()">
                              <%= @total_hiv_positive.length %>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            CPT
                          </td>
                        </tr>
                        <tr>
                          <td>
                            23
                          </td>
                          <td style="border-bottom: 1px solid #999; border-top: 1px solid #999; 
                              border-left: 1px solid #999; width: 60%;">
                            Women on CPT
                          </td>
                          <td style="border: 1px solid #999;">
                            <%= @on_art__1.length %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold;">
                            NVP syrup dispensed for baby
                          </td>
                        </tr>
                        <tr>
                          <td>
                            24
                          </td>
                          <td style="border-bottom: 1px solid #999; border-top: 1px solid #999; 
                              border-left: 1px solid #999; width: 60%;">
                            Tot. received NVP
                          </td>
                          <td style="border: 1px solid #999;">
                            <%= @on_cpt__1.length %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td colspan="2" style="font-weight: bold; padding-top: 12px;">
                            Final ART status mother <sup style="font-weight: normal;">2</sup>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            25
                          </td>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999; width: 60%;">
                            Tot. not on ART
                          </td>
                          <td style="border: 1px solid #999;">
                            <%= @pmtct_management_1.length rescue 0 %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            26
                          </td>
                          <td style="border-left: 1px solid #999;">
                            Tot. already on ART
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                              <%= @pmtct_management_2.length rescue 0 %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            27
                          </td>
                          <td style="border-left: 1px solid #999;">
                            Tot. started ART at 0-27 weeks of preg.
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                              <%= @pmtct_management_3.length rescue 0 %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            28
                          </td>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999;">
                            Tot. started ART at 28+ weeks of preg.
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                              <%= @pmtct_management_4.length rescue 0 %>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td style="width: 30%;" valign="top">
                      <table cellpadding="8" style="width: 90%; float: right; margin-top: 5px;" cellspacing="0">
                        <tr>
                          <td colspan="2" style="font-weight: bold;">
                            Report filled
                          </td>
                        </tr>
                        <tr>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999;">
                            Date
                          </td>
                          <td style="border: 1px solid #999; width: 70%;">
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="border-left: 1px solid #999;">
                            Name
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999;">
                            Phone
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="font-weight: bold; height: 765px;" valign="top">
                            Notes
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="font-weight: bold;">
                            Report Received
                          </td>
                        </tr>
                        <tr>
                          <td style="border-top: 1px solid #999; border-left: 1px solid #999;">
                            Date
                          </td>
                          <td style="border: 1px solid #999;">
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td style="border-left: 1px solid #999; border-bottom: 1px solid #999;">
                            Name
                          </td>
                          <td style="border-left: 1px solid #999;
                              border-bottom: 1px solid #999; border-right: 1px solid #999;">
                            &nbsp;
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td style="height: 20px; font-size: 0.7em; font-style: italic;">
              <span style="margin: 10px;">
                <sup>1</sup>Check: Total of these sections must add up to total number of women in cohort
              </span>&nbsp;&nbsp;
              <span style="float: right; margin-right: 20px;">
                <sup>2</sup>Check: Total of these sections must add up to total women HIV+
              </span>
            </td>
          </tr>
        </table>
      </div>
      <div id="nav">
        <button class="green" style="float: right; margin: 10px;" onclick="window.location = tt_show">
          <span>
            Finish
          </span>
        </button>
        <button class="red" style="float: left; margin-top: 10px;" onclick="window.location = tt_cancel_destination">
          <span>
            Cancel
          </span>
        </button>
      </div>
    </div>
  </body>
</html>
